{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <p>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('logout_route') }}">Logout {{ app.user }}</a>
        {% else %}
            <a href="{{ path('login_route') }}">login</a>
        {% endif %}

    <h1>Tablón Emergya</h1>

    <b><a href="{{ path('new_message') }}"> CREAR ANUNCIO </a></b>
    <hr>

    {% for user in users.currentPageResults %}
        <article class="user">
            <b>#{{ loop.index }} - {{ user.nick }}:</b>

            <p>{{ user.message }}</p>

            {{ visualizar_archivo(user.avatar) }}

            <br>
            {% if is_granted('ROLE_ADMIN') %}
                <b>Estás logueado como administrador.: <a href="{{ path('message_edit', {'id':user.id}) }}"> Puedes
                        editar esta publicación </a></b>
            {% endif %}
        </article>
    {% else %}
        <p>Aún no hay ninguna nota.</p>
    {% endfor %}


    <hr>
    Aquí va la paginación cuando hay más de 5 anuncios
    <br>
    {% if users.haveToPaginate %}
        {{ pagerfanta(users, 'default', {'homepage': page}) }}
    {% endif %}

{% endblock %}

{% block stylesheets %}

{% endblock %}